<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h3>Github user search</h3>

                </div>

                <app-form-search (emitSearch) = "userProfile($event)"></app-form-search>

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <h1>{{user.login}}</h1>
            <img src="{{user.avatar_url}}" alt="profile">
            <h3>Name: {{user.name}}</h3>
            <h5>Followers: {{user.followers}}</h5>
            <h5>Following: {{user.following}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col" *ngFor = "let repo of repo">
            <h2>Name: {{repo.name}}</h2>
            <p>Description: {{repo.description}}</p>
            <h3>Repos: {{repo.repos}}</h3>
            <h4>Language: {{repo.language}}</h4>

        </div>
    </div>
</div>



